<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="style.css">

    <div class="inicio">

        <section id="banner"></section>

        <div class="paragrafo-inicial">
            <h1> <a href="https://www.esalq.usp.br/trilhas/fruti/fr20.htm" title="mais informações"> Eriobotrya Japonica </a>  </h1>
            <div class="paragrafo-inicial-ul">
                <ul>
                    <li>
                        <p> Olá meu nome é <a href="https://github.com/programador001dat" target="_blank" title="github"> <u>Caio Vicente Ramos</u> </a>. Hojé no 2025/08/28 estava eu praticando corrida, e me deparei com uma <strong>ameixa-amarela</strong> e me perguntei? O que é isso, é comestivél. Então vamos lá.</p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="paragrafo-contexto">
            <div class="titulo-sobre">
                <h3> Ameixa-Amarela também conhecida como nêspera</h3>
            </div>
            <div class="title-conteudo">
                <p> Sim, a <u>ameixa-amarela</u> é uma fruta comestivél, casca aveludada e polpa suculenta, para saber se está pronta para colheita, a sua cor deve ficar amarela-alaranjada com toque de macia, uma ameixa madura exala um aroma adocicado. </p>
                <p>A ameixa-amarela também é conhecida como <u>nêspera ("nespereira")</u>, tem origem no Sul da China. A fruta é cultivada em varias partes do mundo inclusive o Brasil, muito encontrada em parques, floresta, etc. </p>
            </div>

            <div class="paragrafo-contexto-img">
                <div class="imagem">
                    <a href="Eriobotrya.PNG" target="_blank">
                        <img src="Eriobotrya.PNG" alt="ameixa-amarela" title="ameixa-amarela conhecida como Eriobotrya Japonica">
                    </a>
                </div>

                <p> Esta fruta pode ser usado para fazer, sucos, geleia ou ser consumida natural. Tornou-se uma das árvores frutíferas exóticas mais comuns em todo o território nacional. </p>
                <h3> Contém vitaminas</h3>
                <ul>
                    <li>A B C</li>
                    <p>Além de minerais como potássio, magnésio, fósforo, ferro, cálcio e zinco. As suas propriedades antioxidantes, que incluem os carotenoides, ajudam no combate aos radicais livres, prevenindo o envelhecimento precoce e foralecendo o sistema imunológico. Está fruta também é umas excelente fonte de fibras, que regulam o trânsito intestinal, e contém pectina, que auxilia na redução do colesterol.</p>
                </ul>

            </div>
        </div>
    </div>

    <footer>
        <p> Conteudo educacional sobre Plantas</p>
        <li> 
            <a href="https://github.com/programador001dat" target="_blank" title="meu repositorio"> acesse nosso repositorio </a>
        </li>
    </footer>

</head>
<body>
    
</body>
</html>